<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/side_nav.css' %}">
    <title>MyBay</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">{{ request.user }}</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home'%}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'item'%}">Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name= "search_text" type="custom_search" placeholder="Search" aria-label="Search">
                <button type="submit" name= "custom_search"class="btn btn-outline-light">Search</button>
            </form>
        </div>
    </nav>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="{% url 'itemedit'%}">Edit Items</a></li>
                <li><a href="{% url 'itemdelete'%}">Remove Items</a></li>
            </ul>
        </div>
        <form method="post" enctype="multipart/form-data" class="form-center">
            <h1> Add Item</h1>
            {% csrf_token %}
            <div class="form-group" style="padding-top: 100px;">
                <label class="label-adjust">Item Name</label>
                {{ item_form.item_name }}
            </div>
            <div class="form-group">
                <label class="label-adjust">Category</label>
                {{ item_form.item_category }}
            </div>
            <div class="form-group">
                <label class="label-adjust">Item Country</label>
                {{ item_form.item_country }}
            </div>
            <div class="form-group">
                <label class="label-adjust">Price</label>
                {{ item_form.item_price }}
            </div>
            <div class="form-group">
                <label class="label-adjust">Picture</label>
                {{ item_form.item_pic }}
            </div>
            <button type="submit" class="btn btn-black">Add Item</button>
            {% if messages %}
            {% for message in messages %}
            <div class="message" id="message_container">
                <div class="alert alert-success" display="inline-block" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </form>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <!-- Script for deleting the edit message after it is displayed -->
        <script>
            var message_ele = document.getElementById("message_container");
            setTimeout(function () {
                message_ele.style.display = "none";
            }, 1000);
        </script>

</body>

</html>